* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100%;
  font-family: "Nunito", arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.container {
  max-width: 1200px;
}

//home
// header

.header-nav {

}

.header-nav__logo {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;

}

.header-nav__menu {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.2rem;
}

.header-nav-menu__item {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  display: inline-block;
  a {
    display: block;
    width: 100%;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    &:hover{
      background-color: #6DA49A;
      transition: 1s;
    }
  }
}


// footer

.footer {
  flex: 0 0 auto;
  font-size: 1.3rem;
}

.footer-link__icon {
  padding: 0 4px;
  &:hover {
    color: #366F90;
    transition: 1s;
  }
}

.footer-copy {
  font-size: 1rem;
}


//about

.about {
  flex: 1 0 auto;
  font-size: 1rem;
  line-height: 2rem;
}

.about-text {
  font-size: 1.1rem;
}

.about-headline {
  border-bottom: 2px solid #EF8062;
}

.main {

}

.main-btn-left {
  display: block;
  padding: 0.1rem 1.1rem;
  border-radius: 0.3rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: #366F90;
  border-color: #366F90;
  &:hover {
    color: #fff;
    background-color: #58A1C7;
    border-color: #58A1C7;
  }
}

.main-btn-right {
  display: block;
  padding: 0.1rem 1.1rem;
  border: 1px solid #B0B271;
  border-radius: 0.3rem;
  font-size: 1.25rem;
  color: #B0B271;
  &:hover {
    color: #fff;
    background-color: #6DA49A;
    border-color: #6DA49A;
  }
}

.contact-form {
  font-size: 1.5rem;
}

.contact-button {
  color: #fff;
  background-color: #366F90;
  border-color: #366F90;
  &:hover {
    color: #fff;
    background-color: #58A1C7;
    border-color: #58A1C7;
  }
}

.resume-headline {
  margin: auto 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.resume-headline-link {
  display: block;
  padding: 4px 3px;
  border-radius: 4px;
  background-color: #df0000;
  color: white;
}

.resume-telegram {
  font-size: 1.2rem;
}

.bi-telegram {
  font-size: 1.5rem;
}

.resume-email {
  font-size: 1.2rem;
}

.bi-envelope-fill {
  font-size: 1.5rem;
}

.education-headline {
  font-size: 1rem;
  margin: 0;
}

.experience-article {
  font-size: 1rem;
  line-height: 1rem;
}

.skills li{
  font-size: 1.2rem;
}


//Media queries

@media (max-width: 576px) {
  .header-nav {
    padding: 1rem 0;
  }

  .header-nav-container {
    display: none;
  }

  .header-mobile-container {
    display: none;
  }

  .header-mobile-container__open {
    display: block;
  }

  .open-menu {
    display: block;
  }

  .closed-menu {
    display: none;
  }

  .header-nav-menu__item {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    display: block;
    a {
      display: block;
      width: 100%;
      padding: 3px 1px;
      border: 1px solid transparent;
      border-radius: 2px;
      &:hover{
        background-color: #6DA49A;
        transition: 1s;
      }
    }
  }

  .main-img {
    justify-content: center;
    padding: 1.8rem 0 0.5rem 0;
  }

  .main-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main-btn-left {
    margin: 0 1rem;
  }
}

@media (min-width: 576px) {
  .header-mobile-container {
    display: none;
  }

  .open-menu {
    display: none;
  }

  .closed-menu {
    display: none;
  }
}
