* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100%;
  font-family: "Nunito", arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

//home
// header

.header-nav {
  max-width: 1200px;
}

.header-nav__logo {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;

}

.header-nav__menu {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.2rem;
}

.header-nav-menu__item {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  display: inline-block;
  a {
    display: block;
    width: 100%;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    &:hover{
      background-color: #6DA49A;
      transition: 1s;
    }
  }
}


// footer

.footer {
  flex: 0 0 auto;
  font-size: 1.3rem;
  padding-top: 60px;
}

.footer-link__icon {
  padding: 0 4px;
  &:hover {
    color: #366F90;
    transition: 1s;
  }
}

.footer-copy {
  font-size: 1rem;
}


//about

.about {
  flex: 1 0 auto;
  font-size: 1rem;
}

.main {

}
